.search-cars {
  height: Hug (48px) px;
  background: rgba(21, 40, 54, 1);
}

.car-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
