.sliderStyles {
  height: 100%;
  position: relative;
}

.leftButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 7%;
  z-index: 9;
  background-color: rgb(128, 128, 128, 0.29);
  border-radius: 10px;
}

.rightButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 100;
  bottom: 0;
  height: 100%;
  width: 7%;
  z-index: 9;
  background-color: rgb(128, 128, 128, 0.29);
  border-radius: 10px;
}

.leftArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: none;
  outline: none;
  border: none;
  left: 0;
  font-size: 55px;
  color: white;
  z-index: 10;
  cursor: pointer;
  transition: 0.2s;
}

.rightArrowStyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: none;
  outline: none;
  border: none;
  right: 0;
  font-size: 55px;
  color: white;
  z-index: 10;
  cursor: pointer;
  transition: 0.2s;
}

.dotContainerStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dotStyle {
  cursor: pointer;
  font-size: 70px;
}
