body {
  width: 1440px;
  height: 2421.7px;
  gap: 0px;
  opacity: 0px;
  background: rgba(11, 12, 16, 1);
}

.filter-field {
  width: 391px;
  height: 1159px;
  margin-left: 5rem;
  margin-top: 2rem;
  padding: 16px 0px 0px 0px;
  border-radius: 3px 0px 0px 0px;
  background: rgba(7, 22, 32, 1);
}

.filter {
  width: 359px;
  height: 48px;
  margin: 16px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
}

.filter > p {
  width: 47px;
  height: 24px;
  margin-left: 14px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.year-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.brand-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.model-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.mileage-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.transmission-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.fuel-type-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.engine-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.horsepower-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.exterior-color-button-group {
  padding: 12px 16px 12px 16px;
  margin: 16px;
  gap: 10px;
  opacity: 0px;
  background: rgba(21, 40, 54, 1);
}

.search-cars {
  position: relative;
  width: 761px;
  height: Hug (48px) px;
  bottom: 88px;
  margin: 0.5px;
  padding: 12px 16px 12px 16px;
  background-color: rgba(21, 40, 54, 1);
}

.car-list {
  position: absolute;
  top: 180px;
  left: 320px;
  margin-left: 16rem;
  margin-top: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.car-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.car-card {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 1rem;
}
.car-card h2 {
  cursor: pointer;
  padding-top: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.car-card > img {
  cursor: pointer;
  width: 320px;
  height: 220px;
}

.car-card > div {
  padding-top: 0.5rem;
  color: rgba(0, 124, 199, 1);
}

.car-card > p {
  padding-top: 0.5rem;
  color: #fff;
}

.cars-info {
  display: flex;
  margin-top: 12px;
  gap: 6px;
}

.cars-info > p {
  margin-top: 0.2rem;
}
