.car-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: normal;
  gap: 2rem;
}

.car-card {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 1rem;
  transition: transform 0.5s ease;
}

.car-card:hover {
  transform: scale(1.1);
}

.car-card h2 {
  cursor: pointer;
  padding-top: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.car-card > img {
  cursor: pointer;
  width: 320px;
  height: 220px;
}

.car-card > div {
  padding-top: 0.5rem;
  color: rgba(0, 124, 199, 1);
}

.car-card > p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: rgba(0, 124, 199, 1);
}

.cars-info {
  display: flex;
  margin-top: 12px;
  gap: 6px;
}

.cars-info > p {
  color: #fff;
  margin-top: 0.2rem;
}

.no-results {
  color: #ddd;
  padding: 12px;
}
