.logo {
  width: 170px;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
    order: 1;
  }
}

@media (max-width: 900px) {
  .logo {
    order: 1;
  }
}